
* {
    padding: 0;
    margin: 0;
}

.header {
    height: 40px;
    background-color: #badefc;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    width: 70%;
}

body {
    background-color: lightgray;
}

.bTitles {
    display: flex;
    justify-content: center;
    background-color: #badefc;
    color: #4f4c4c;
}

.footer {
    background-color: #badefc;
    color: #4f4c4c;
}

.bConts {
    background-color: #bebbbb;
    color: #332d2d;

}

.card {
    border: #595959 solid 12px;
    border-radius: 20px;
}
