body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: .5em .5em;
    margin: .5em .5em;

}

.message-info{
    background-color: var(--info-bg-color);
    color: var(--info-text-color);
}
.message-success{
    background-color: var(--succ-bg-color);
    color: var(--succ-text-color);
}

.message-warning{
    background-color: var(--warn-bg-color);
    color: var(--warn-text-color);

}

.message-error{
    background-color: var(--err-bg-color);
    color: var(--err-text-color);
}
:root{
    --info-bg-color: rgba(120, 180, 275, 0.3);
    --info-text-color: #4545e8;
    --succ-bg-color: rgba(76, 175, 80, 0.3);
    --succ-text-color: darkgreen;
    --warn-bg-color: rgba(240, 255, 0, 0.3);
    --warn-text-color: #8d8d02;
    --err-bg-color: rgba(255, 0, 0, 0.25);
    --err-text-color: darkred;
}