:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}
.top-nav {
    background: var(--light-bg);
    width: 100%;
    display: inline;
    padding: .5em;
    position: fixed;
    z-index: 1000;
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-item{
    padding: 1.5em;
    display: inline-block;
}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);
}
.profile-image{
    position: absolute;
    top: 15em;
}
.profile {
    background: var(--light-bg);
    height: 80px;
}
.profile-items{
    padding: 0;
}
.profile-entry{
    margin: .5em;
}
.profile-form{
    float: right;
    line-height:100%;
    margin-top: 1em;
}
.profile-details{
    width: 25%;
    float: left;
    margin: 0 .5em;
}
.container{
    padding-bottom: 3em;
}

.who-to-follow{
    width: 25%;
    float: right;
    margin: 0 .5em;
    background-color: ghostwhite;
    overflow: no-content;
}
.timeline{
    width: calc(50% - 50px);
    float: left;
    margin: 0 .5em;
    background-color: ghostwhite;
}
.media {
    margin: .5em 0;
    background-color: var(--light-bg);
    width: 100%;
}
.media-image{
    max-width: 50px;
    float: left;
    margin-top: 1.3em;


}
.media-body{
    width: calc(100% - 50px);
    /*float: right;*/
    /*border-bottom: 2px solid black;*/
    clear-side: left;
    background-color: #f5f1f1;
    display: inline-block;

}
.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}
ul{
    list-style: none;
}